<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="2052">
      <setting id="versioncheck" type="bool" label="2051" default="true"/>
      <setting id="force-openelec" type="bool" label="2055" visible="System.Platform.Linux" default="false"/>
   </category>
</settings>
